.weatherapp-panel{
    z-index: 0;
    font-family: 'Helvetica';    
    color: #ffffff;
    position: absolute;
    left: 18px;

    .panel-header{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 48px;
    }

    .main-content{
        display: flex;
        flex-direction: row;
        column-gap: 12.75rem;
    }

    .section-header{
        font-weight: 700;
        font-size: 32px;
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }

    .three{
        display: flex;
        flex-direction: column;
    }   

    .five{
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
}

.loading-panel{
    z-index: 9;
    font-family: 'Coolvetica';    
    color: #ffffff;
    background-color: #21233a;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 18px;
    width: 1865px;
    height: 810px;
    font-size: 72px;
    background-image: url('../../assets/images/weathericon.png');
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: center center;
}

@media screen and (min-width: 1080px) and (max-width: 1850px){
    .weatherapp-panel{
        left: 10px;

        .panel-header{
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 32px;
        }

        .main-content{
            display: flex;
            flex-direction: row;
            column-gap: 10.25rem;
        }

        .section-header{
            font-weight: 700;
            font-size: 16px;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        .three{
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
        }   
    
        .five{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            margin-bottom: 2rem;
        }
    }
    
    .loading-panel{
        top: 8px;
        left: 10px;
        width: 96vw;
        height: 750px;
        font-size: 72px;
    }
}

@media screen and (max-width: 1080px){
    .weatherapp-panel{
        left: 0px;
        .panel-header{
            font-size: 36px;
            margin-left: 18rem;
        }

        .main-content{
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            margin-left: 20rem;
        }

        .section-header{
            margin-top: 3rem;
            font-size: 36px;
            margin-left: 0rem;
            margin-bottom: 3rem;
            margin-right: 1rem;
            text-align: center;
        }

        .fiveteen{
            display: flex;
            flex-direction: column;          
        }
    }

    .loading-panel{
        top: 0px;
        left: 0px;
        width: 1080px;
        height: 1940px;
    }    
}