.future-mobile-widget{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    font-family: 'Coolvetica';
    font-size: 28px;
    width: 97vw;

    .future-mobile-main-section{
        display: flex;
        flex-direction: row;        
        .future-mobile-big{
            display: flex;
            flex-direction: row;
            .future-mobile-icon{
                transform: scale(40%, 40%);
                transform-origin: left top;
                width: 5rem;
                height: 5rem;
                img{
                    margin-top: 1.5rem;
                }
            }

            .future-mobile-weather{
                width: 5rem;
                margin-top: 1.1rem;
            }
        }

        .future-mobile-date{
            width: 18rem;
            margin-top: 1.1rem;
            margin-left: 2rem;
            text-align: center;
        }
    }

    .future-mobile-side-section{
        display: flex;
        flex-direction: row;
        column-gap: 1vw;
        text-align: center;
        font-size: 26px;
        margin-top: 10px;
    }
}