.page{
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: row;

    .page-map{
        z-index: 0;
        position: absolute;
        top: 22px;
        left: 63vw;
        height: 830px;
        width: 680px;
        color: white;
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 32px;
    }
}

.leaflet-container{
    width: 670px;
    height: 807px;  
    border-radius: 16px;  
}

@media screen and (min-width: 1080px) and (max-width: 1850px){
    .page{
        top: 85px;

        .page-map{
            top: 8px;
            left: 47vw;
            font-size: 16px;
        }
    }    

    .leaflet-container{
        width: 670px;
        height: 680px;    
    }
}

@media screen and (max-width: 1080px){
    .page{
        left: 0;
        max-width: 1080px;
    }

    .page-map{
        display: none;
    }
}