.wind-widget{
    display: flex;
    flex-direction: column;   
    row-gap: 2rem;
    align-items: center;
    background-color: #21233a;
    border: 16px solid #21233a;
    border-radius: 16px;
    width: fit-content;

    .wind-icon{
        font-size: 6rem;
        margin-top: 1rem;
        width: 100px;
        height: 100px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wind-speed{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1122px) and (max-width: 1850px){
    .wind-widget{
        border: 8px solid #21233a;
        border-radius: 8px;
        row-gap: 0.5rem;
        height: 95px;

        .wind-icon{
            font-size: 2rem;
            margin-top: 1rem;      
            background-size: 65%;      
        }

        .wind-speed{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1122px){
    .wind-widget{
        border: 8px solid #21233a;
        border-radius: 8px;
        display: flex;
        flex-direction: row;  
        column-gap: 2rem;
        height: 80px;
        width: 18rem;
        margin-left: 3.5rem;

        .wind-icon{
            margin-top: 0rem;
            margin-left: 2rem;
            font-size: 4rem;
            background-size: 70%; 
        }

        .wind-speed{
            font-size: 22px;
            margin-left: 0.5rem;
        }
    }
}